*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gainsboro;
}
nav{
    background-color: gray;
    width: 100%;
    
    .church{
        background-color: cyan;
        padding: 5px;
       
    }
    .list{
        padding: 5px;
        display: flex;

        li{
            list-style: none;
            padding: 5px;
            text-align: center;
            a{
                text-decoration: none;
                padding: 5px;
            }
        }
    }
}
.section2{
    background-color: hotpink;
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 5px  0;

    .say-it-with-me{
        background-color: indigo;
        width: 30%;
        height: 80vh;
    }
    .sliding-imgs1{
        background-color: violet;
        width: 70%;
    }
}
.section3{
    background-color: yellow;
    height: 50vh;
    display: flex;
    padding: 5px;

    .scripture-of-the-day{
        background-color:green;
        height: 50vh;
        width: 40%;
    }
    .nugget{
        background-color: blanchedalmond;
        width: 60%;
        height: 50vh;
    }
}