<div class="poster m-slider">  
</div>
<div class="poster s-two">
    <div class="v-slider">Left</div>
    <div class="k-slider">Right</div>
</div>
<div class="Section-head"><h2>Ministry Events</h2></div>
<div class="poster card-list">
<div class="items"></div>
<div class="items"></div>
<div class="items"></div>
<div class="items"></div>
<div class="items"></div>
</div>
<div class="Section-head"><h2>Testimonies</h2></div>
<div class="poster card-list">
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
</div>