<div class="poster m-slider">  
</div>
<div class="poster m-form">  
    <div class="Section-head"><h2>New Converts</h2></div>
   <form action="">
    <input type="text" required placeholder="Name">
    <input type="text" required placeholder="Last Name">
    <input type="text" required placeholder="Phone">
    <input type="text" required placeholder="Email">
    <input type="text" required placeholder="Country">
    <div class="consent">
        <input type="checkbox" required id="check">
         <label for="check">
            I consent to christ embassy holding my information for follow up and communication purposes.
        </label>
    </div>
    <input type="submit" value="Submit">
   </form>
</div>